# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg

# Node/Frontend/Build artifacts
node_modules/
/dist/
.eslintcache
/public/dist/

# System / IDEs / Editors
.DS_Store
.vscode/
.idea/
*.swp
*.swo
tags

# Logs and databases
*.log
/debug_upload.log
.sqlite

# Local configuration
.env